<FORM name=test>
    <H5> 1.	Что может повлиять на выбор Вами работы в нашей или другой компании? </H5>
        <form action="#">
            <p>
                <label>
                  <input id="2-4" #checkbox type="checkbox" />
                  <span>престижность и авторитет Компании </span>
                </label>
              </p>
              <p>
                <label>
                  <input id="1-2" #checkbox type="checkbox" />
                  <span>интересные задачи / деятельность </span>
                </label>
              </p>
              <p>
                <label>
                  <input id="1-3" #checkbox type="checkbox" />
                  <span>комфортная психологическая обстановка в коллективе </span>
                </label>
              </p>
          </form>
    
    