
<h2>Тестирование цехов</h2>

<div class="row">
  <div class="col-10">
    <form [formGroup]="searchForm" class="example-container">
      <mat-form-field  appearance="outline">
        <mat-label>Название теста</mat-label>
        <input matInput type="text"
               aria-label="Название теста"
               matInput
               formControlName="testName"
               (keyup)="applyFilter()"
               style="height:fit-content"
        >
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Цех</mat-label>
        <input type="text"
               aria-label="Цех"
               matInput
               formControlName="arrivalStation"
               (keyup)="applyFilter()"
               style="height:fit-content"
        >
      </mat-form-field>
      
      <mat-form-field  appearance="outline" style="width: 300px;" >
        <mat-label>Дата начала тестирования</mat-label>
        <input matInput
               formControlName="departureDate"
               [matDatepicker]="picker"
               (dateInput)="applyFilter()"
               >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
  <div class="col-2">
    <button (click)="openCreateTestDialog()" class="btn btn-info mb-2 mt-2 mr-3">Создать тестирование</button>
  </div>
</div>



<table style="margin-top: 50px;" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> № </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
  </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="testName">
      <th mat-header-cell *matHeaderCellDef> Название теста </th>
      <td mat-cell *matCellDef="let element"> {{element.testName}} </td>
    </ng-container>

    <ng-container matColumnDef="departmentNum">
      <th mat-header-cell *matHeaderCellDef> Название цеха </th>
      <td mat-cell *matCellDef="let element"> {{element.departmentNum}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="dateNotificationDate">
      <th mat-header-cell *matHeaderCellDef> Дата начала тестирования </th>
      <td mat-cell *matCellDef="let element"> {{element.dateNotificationDate}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="datePassingTest">
      <th mat-header-cell *matHeaderCellDef> Дата окончания тестирования </th>
      <td mat-cell *matCellDef="let element"> {{element.datePassingTest}} </td>
    </ng-container>

    <ng-container matColumnDef="testCreatingDate">
        <th mat-header-cell *matHeaderCellDef> Дата создания теста </th>
        <td mat-cell *matCellDef="let element"> {{element.testCreatingDate}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="getTestQuestions(row.idTest)" [class.demo-row-is-clicked]="clickedRows.has(row)" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
      
