<div class="dialog" >
    <div mat-dialog-content style="padding-bottom: 0px;" >
    <p style="font-size: 20px;">Создание тестирования</p>
    <div class="d-flex align-items-center justify-content-center">
        <div class="wrapper " >
          
          <form [formGroup]="searchForm" class="example-container" >
            <div class="box">
                <mat-form-field style="width: 300px;"  appearance="outline">
                    <mat-label>Название теста</mat-label>
                    <input matInput type="text"
                           aria-label="Название теста"
                           matInput
                           formControlName="testName"
                           style="height:fit-content"
                    >
                  </mat-form-field>
            </div>
            <div class="box">
                <mat-form-field style="width: 300px;">
                    <mat-select [formControl]="bankCtrl" placeholder="Bank" >
                      <mat-option style="margin-left: 10px;">
                        <ngx-mat-select-search placeholderLabel="Цех"  noEntriesFoundLabel="Совпадений не найдено" [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                      </mat-option>
                
                      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                        {{bank.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div class="box">
                <mat-form-field  appearance="outline" style="width: 300px;" >
                    <mat-label>Дата начала тестирования</mat-label>
                    <input matInput
                           formControlName="testingBeginDate"
                           [matDatepicker]="picker"
                           >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>

            <div class="box">
                <mat-form-field  appearance="outline" style="width: 300px;" >
                    <mat-label>Дата окончания тестирования</mat-label>
                    <input matInput
                           formControlName="testingEndDate"
                           [matDatepicker]="picker"
                           >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            
          </form>
          <div class="box">
            <div mat-dialog-actions>
                <div class="col-6">
                    <button mat-button>Отмена</button>
                </div>
                <div class="col-6">
                    <button mat-button  cdkFocusInitial>Создать</button>
                </div>
            </div>
        </div>
    </div>
          

      </div>
    </div>

</div>