


<div class="container" style="margin-left: 10px; margin-top: 10px;">
  <app-question-multiple-form></app-question-multiple-form>
  <app-question-single-form></app-question-single-form>

    <div class="row">

      <div class="col" style="text-align: center;">
        <button
                type="button"
                (click)="onSubmit()"
                class="btn btn-success lighten-2 mb2 flex" >
                    Закончить тест
                </button>
      </div>
      
    </div>
  </div>
