<div #el *ngFor="let i of arr">
    <div #elem class="row" style="justify-content:center">
        <div class="col-md-1" style="align-items: center; display: flex;" >
                <label for="title" style="margin:auto;">{{i}}</label>
            </div>
            <div class="col-md-6" style="align-items: center; display: flex;">
                <input #answerText  matInput  placeholder="Текст ответа"  name="fname"  required>
            </div>
            <div class="col-md-5" style="align-items: center; display: flex;">
                <div class="wrapper">
                    <mat-list *ngFor="let i of factors" class="full-width"style="align-items: center;">
                        <div class="box" >
                            <mat-list-item #w style="height: 30px; font: size 14px;"> {{i.nameFactor}} =
                                <input id="{{i.idFactor}}" #weight matInput style="height: 20px;width: 30px;font: size 10px;" name="fname"  required>
                            </mat-list-item>
                        </div>
                        
                    </mat-list>
                </div>
                
            </div>
        </div>

</div>
