
<div class="main-div">
<mat-card-content>
    <form class="my-form wrapper">
       <mat-form-field class="full-width">
              <mat-label>Текст вопроса</mat-label>
              <input #textQuestion matInput  placeholder="Текст вопроса" value="{{text}}"  required>
        </mat-form-field>
            <mat-label class="full-width">Выбор факторов</mat-label>
            <button mat-button (click)="openDialog()"  color="primary" >Выбрать</button>
            <div class="box" style="min-height: 50px; background-color:aqua">
                <mat-list *ngFor="let i of factors" class="full-width">
                    <mat-list-item style="height: 20px;"> {{i.nameFactor}} </mat-list-item>
                </mat-list>
            </div>

        <mat-label class="full-width">Варианты ответов</mat-label>
        <div class="d row mb-0" style="justify-content:center">
            <div class="col-md-1" style="align-items: center; display: flex;" >
                <label for="title" style="margin:auto;">Номер</label>
            </div>
            <div class="col-md-6" style="align-items: center; display: flex;">
                <label for="title" style="margin:auto;">Ответ</label>
            </div>
            <div class="col-md-5" style="align-items: center; display: flex;">
                <label for="title" style="margin:auto;">Веса влияния на факторы</label>
            </div>
        </div>
        
        <app-answer-element></app-answer-element>


        <button (click)="childAnswerElement?.createEl()" mat-button color="primary" style="justify-content:end">Добавить ответ</button>
        <button (click)="saveQuestion()" mat-button color="primary" style="justify-content:end">Сохранить вопрос</button>

    </form>
  </mat-card-content>
</div>

<ng-template>
    <div #el>
        <div class="row" style="justify-content:center">
            <div class="col-md-1" style="align-items: center; display: flex;" >
                    <label for="title" style="margin:auto;"></label>
                </div>
                <div class="col-md-6" style="align-items: center; display: flex;">
                    <input #answerText  matInput  placeholder="Текст вопроса"  name="fname"  required>
                </div>
                <div class="col-md-5" style="align-items: center; display: flex;">
                    <label for="title" style="margin:auto;">Веса влияния на факторы</label>
                </div>
            </div>

    </div>
       
</ng-template>