
<div class="main-div">
<mat-card-content>
    <form class="my-form">
       <mat-form-field class="full-width">
              <mat-label>Текст вопроса</mat-label>
              <input  matInput  placeholder="Текст вопроса"  name="fname"  required>
        </mat-form-field>
            <mat-label class="full-width">Выбор факторов</mat-label>
            <button mat-button (click)="openDialog()"  color="primary" >Выбрать</button>
            <mat-list class="full-width">
                <mat-list-item> Фактор 1 </mat-list-item>
                <mat-list-item> Фактор 2 </mat-list-item>
                <mat-list-item> Фактор 3 </mat-list-item>
            </mat-list>
        <mat-label class="full-width">Варианты ответов</mat-label>
        <div class="d row" style="justify-content:center">
            <div class="col-md-1" style="align-items: center; display: flex;" >
                <label for="title" style="margin:auto;">Номер</label>
            </div>
            <div class="col-md-6" style="align-items: center; display: flex;">
                <label for="title" style="margin:auto;">Ответ</label>
            </div>
            <div class="col-md-5" style="align-items: center; display: flex;">
                <label for="title" style="margin:auto;">Веса влияния на факторы</label>
            </div>
        </div>
        <div #R class="R">
            <div #el>
                <div class="row" style="justify-content:center">
                    <div class="col-md-1" style="align-items: center; display: flex;" >
                            <label for="title" style="margin:auto;"></label>
                        </div>
                        <div class="col-md-6" style="align-items: center; display: flex;">
                            <input #answerText  matInput  placeholder="Текст вопроса"  name="fname"  required>
                        </div>
                        <div class="col-md-5" style="align-items: center; display: flex;">
                            <label for="title" style="margin:auto;">Веса влияния на факторы</label>
                        </div>
                    </div>
        
            </div>
        </div>



        <button (click)="createEl()" mat-button color="primary" style="justify-content:end">Добавить вопрос</button>

    </form>
  </mat-card-content>
</div>

<ng-template>
    <div #el>
        <div class="row" style="justify-content:center">
            <div class="col-md-1" style="align-items: center; display: flex;" >
                    <label for="title" style="margin:auto;"></label>
                </div>
                <div class="col-md-6" style="align-items: center; display: flex;">
                    <input #answerText  matInput  placeholder="Текст вопроса"  name="fname"  required>
                </div>
                <div class="col-md-5" style="align-items: center; display: flex;">
                    <label for="title" style="margin:auto;">Веса влияния на факторы</label>
                </div>
            </div>

    </div>
       
</ng-template>